// 个人中心架构页面 样式
.personalWrapper{
    .personal{
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
    }
    .content{
        padding: 30px;
        background-color: #fff;
        border-radius: 8px;
    }
}
// 公用样式
.personalCards{
    background-color: #fff;
    padding: 20px 30px 30px;
    margin-bottom: 20px; 
    border-radius: 8px;
}
.pageination{
    padding-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.mn-cl{
    color: var();
}
.nodata{
    text-align: center;
    line-height: 100px;
}
// 我的课程样式
.myClassWrapper{
    .dialogCont{
        line-height: 40px;
        padding: 0 10px;
        span{
          display: inline-block;
          min-width: 100px;
        }
        .lastTime{
          border:solid 1px #D9D9D9;
          width: 100%;
          padding: 0 10px;
          border-radius: 4px;
        }
      }
      .dialogFooter{
        display: flex;
        justify-content: flex-end;
        div{
          width: 80px;
          height: 36px;
          .bt{
            font-size: 14px;
            line-height: 36px;
            border-radius: 4px;
          }
          margin-left: 20px;
        }
      }
}
// 我的考试 - 列表
.myExamWrapper{

}
// 我的考试 - 详情
.myExamDetails{
    background-color: #fff;
    padding: 30px;
    .examHeadle{
        .tit{
            font-weight: 600;
            font-size: 20px; 
            margin-bottom: 20px;
        }
        .table{
            border-top: 1px solid #EEEEEE;
            border-left: 1px solid #EEEEEE;
            .td{
                font-size: 14px;
                padding:20px;
                border-right: 1px solid #EEEEEE;
                border-bottom: 1px solid #EEEEEE;
            }
        }
    }
    .answerCardTitle{
        font-weight: 600;
        font-size: 16px;
        margin: 30px 0 20px 0;
    }
    .answerCards{
        margin-bottom: 30px;
        span{
            display: inline-block;
            width: 22px;
            line-height: 22px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            background: #A0A9B2;
            border-radius: 2px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .right{
            background: #26BA9B;
        }
        .wrong{
            background: #FF4C4C;
        }
    }
    .examCont{
        .item{
            margin-bottom: 47px;
        }
        .examTitle{
            display: flex;
            line-height: '32';
            margin:20px 0 10px 0;
            img{
                width: 32px;
                height: 32px;
                margin-right: 25px;
            }
            .quest{
                line-height: 32px;
                font-size: 22px;
                
            }
        }
        .answer{
            line-height: 34px;
            padding-left: 80px;
            margin-bottom: 10px;
            li{
                list-style-type:upper-alpha;
            }
        }
        .analysis{
            margin-left: 60px;
            font-size: 14px;
            border-radius: 4px;
            background: #F5F6F9;
            padding: 20px 20px 30px 20px;
            .col{
                margin-right: 40px;
            }
            .rt{
                color: #26BA9B;
            }
        }
    }
}

// 我的订单 - 列表
.myOrderWrapper{
    .table{
        margin-top: 37px;
        .tabHead, .tabInfo,.tabCont > .orderList{
            display: flex;
            background: #F5F6F9;
            
            font-size: 14px;
            line-height: 50px;
            padding: 0 25px 0 30px;
            margin-bottom: 40px;
            span{
                min-width: 100px;
                text-align: center;
            }
        }
        .tabHead{
            font-weight: 600;
        }
        .tabInfo{
            background: #fff;
            border: 1px solid #EEEEEE;
            margin-bottom: 0px;
            .time{
                margin-right: 40px;
            }
        }
        .tabCont{
            .orderList{
                background: #fff;
                align-items: center;
                margin-bottom: 0;
                padding:15px 25px 15px 30px ;
                .btCont{
                    display: flex;
                    flex-direction: column;
                    .bt{
                        font-size: 14px;
                        border-radius: 20px;
                    }
                    .bt:first-child{
                        margin-bottom: 15px;
                    }
                }
            }
            border-left: 1px solid #EEEEEE;
            border-right: 1px solid #EEEEEE;
            border-bottom: 1px solid #EEEEEE;
        }
        .alignLeft{
            text-align: left !important;
        }
    }
    .pageination{
        padding-top:20px;
        padding-bottom: 10px;
    }
}
// 我的订单 - 详情
.myOrderDetailsWrapper{
    .label{
        font-size: 14px;
        color: #19232B;
        margin: 8px 0;
        span{
            font-weight: 600;
            font-size: 20px;
            color: #19232B;
            margin-right: 10px;
        }
    }
    .orderTit{
        line-height: 60px;
        font-weight: 600;
        font-size: 20px;
        color: #7F878C;
    }
    .linePint{
        display: flex;
        .nodePoint{
            width: 20%;
            position: relative;
            text-align: center;
            .pintTit{
                color: #2080F7;
            }
            .circular{
                position: relative;
                margin: 10px auto 15px auto;
                width: 11px;
                height: 11px;
                background: #FFFFFF;
                border: 2px solid #2080F7;
                border-radius: 11px;
                z-index: 2;
            }
            .time{
                font-size: 12px;
                color: #80878C;
                line-height: 20px;
            }
            &::after{
                position: absolute;
                content: '';
                display: inline-block;
                top:37px;
                left: 50%;
                width: 100%;
                height: 1px;
                background-color: #2080F7;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
        }
    }
    .info{
        font-size: 14px;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 40px;
        .pirc{
            display: inline-block;
            width: 120px;
            text-align: right;
        }
    }
    .refundCont{
        .lab{
            width: 100px;
            line-height: 40px;
        }
        .fx{
            margin-bottom: 20px;
        }
    }
    .refundDetailsCont{
        .tab{
            border-left:solid 1px #EEEEEE;
            border-top:solid 1px #EEEEEE;
            display: flex;
            flex-wrap: wrap;
            font-size: 14px;
            .ut, .row{
                border-right:solid 1px #EEEEEE;
                border-bottom:solid 1px #EEEEEE;
                width: 50%;
                padding: 8px 20px;
                line-height: 35px;
            }
            .row{
                width: 100%;
            }
            .fx-wp span{
                display: inline-block;
                width: 50%;
            }
        }
    }
    .dialog-footer{
        display: flex;
        justify-content: flex-end;
        .bt{
            width: 80px;
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            margin-left: 20px;
            border-radius: 4px;
        }
    }
}
